#interface{
    border: solid 1px black;
    width: 600px;
    height: 400px;
    margin:auto;
    background-image: url(https://i.redd.it/aveyn348soa81.jpg);
}
#score{ 
    border: sol;
    margin: auto;
    text-align: center;
}
#dino{
    height:50px;
    width:50px;
    background-color: aqua;
    position:relative;
    top:350px;
}
#pedra{
    height:50px;
    width:50px;
    background-color:aquamarine ;
    right:-550px;
    top:300px;
    position:relative;
    background-image:url() ;
    background-size:cover;
    animation: pedra 1.33s infinite;
}
@keyframes pedra{
  0%{left: 550px;}
  100%{left: -50px;}
}

.pular-animation{
  animation: pular 0.5s;
  
}

@keyframes pular{
    0%{top: 350px;}
    50%{top: 100px;}
    75%{top: 100px;}
    100%{top: 350px;}
}
#botao{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
#button{
    margin: auto;
    position: relative;
}

